

.contact__form {
    width: 45em;
}

.contact__form input[type="text"], input[type="email"]  {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625em 0.875em;
    gap: 0.5em;
    width: 100%;
    height: 2.75em;
    /* Base/White */
    background: #FFFFFF;
    /* Gray/300 */
    border: 0.0625em solid #D0D5DD;
    /* Shadow/xs */
    box-shadow: 0em 0.0625em 0.125em rgba(16, 24, 40, 0.05);
    border-radius: 0.5em;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.contact__form input[type="text"]:focus {
    outline: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.contact__form input[type="email"]:focus {
    outline: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}


.contact__form form .error:focus {
    outline: 1px solid #F89687;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}

.contact__form .term {
    margin-top: 1.25em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact__form .term_check {
    box-sizing: border-box;
    width: 1.25em;
    height: 1.25em;
    background: #FFFFFF;
    border: 0.0625em solid #D0D5DD;
    border-radius: 0.375em;
}


.contact__form .term_check:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 0.25em #D1E9FF;
}

.contact__form .term div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    color: #475467;
}


.contact__form ::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    color: #667085;
}

.contact__form textarea {
    /* Input */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.75em 0.875em;
    gap: 0.5em;
    width: 100%;
    height: 12em;
    /* Base/White */
    background: #FFFFFF;
    /* Gray/300 */
    border: 0.0625em solid #D0D5DD;
    /* Shadow/xs */
    box-shadow: 0em 0.0625em 0.125em rgba(16, 24, 40, 0.05);
    border-radius: 0.5em;
    resize: none;
}

.contact__form textarea:focus {
    outline: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}


.contact__form .heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25em;
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #101828;
}

.contact__form .heading_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 150%;
    /* identical to box height, or 150% */
    color: #475467;
}

.contact__form .name {
    display: flex;
    gap: 1.25em;
    margin-bottom: 1em;
}

.contact__form .name .field {
    text-align: left;
    flex: 1;
}

.contact__form form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 143%;
    color: #344054;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
}


.contact__form form .helper-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Gray/600 */
    color: #475467;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.contact__form .msg_container {
    margin-top: 1.875em;
}

.contact__form form button {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    background: #1570EF;
    color: #FFFFFF;
    border: 0.0625em solid #1570EF;
    box-shadow: 0em 0.0625em 0.125em rgba(16, 24, 40, 0.05);
    border-radius: 0.5em;
    margin-top: 1.5em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 150%;
    cursor: pointer;
}

.contact__form form button:hover{
    background-color:  #175CD3;
}


@media (max-width: 37.5em) {
    .contact__form .name {
      display: block;
    }
    .contact__form {
        width: 100%;
    }

    .contact__form input {
        margin-bottom: 1.4em;
    }

    .contact__form .heading_2 {
        font-size: 1.125em;
    }

    .contact__form .term_check {
        width: 1.4em;
    }
    
}