

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
  padding-left: 8em;
  padding-right: 8em;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 88px;
  background-color: #101828;
  border-radius: 275px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #101828;
}

.share {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 13em;
  top: 3.2em;
  background: #FFFFFF;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
}

.share-hover {
  position: absolute;
  right: 13em;
  top: 3.2em;
  background: #FFFFFF;
  border-radius: 20px;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 100%;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  margin-top: 1em;
  text-decoration: none;
}

.list-item:hover {
  background: #D0D5DD;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 2em;
}

.footer {
  padding: 4em;
  display: block;
}

.footer-content {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 0px;
  gap: 32px;
  height: 64px;

  /* Gray/200 */

  border-top: 1px solid #EAECF0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.footer-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #667085;
}