.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
  padding-left: 8em;
  padding-right: 8em;
  max-width: 87.5em;
  width: calc(100% - 16em);
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em;
  gap: 1.5em;
  isolation: isolate;
  flex: none;
  order: 0;
  align-self: stretch;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em;
  width: 5.5em;
  background-color: #101828;
  border-radius:  17.1875em;
  flex: none;
  order: 0;
  z-index: 0;
  cursor: pointer;
}

.name_user {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 150%;
  text-align: center;
  color: #101828;
}

.share {
  position: relative;
  right: -23%;
  top: 1.5em;
  background: #FFFFFF;
  border-radius: 1.25em;
  cursor: pointer;
}


.share-hover {
  position: relative;
  right: -23%;
  top: 1.5em;
  background: #FFFFFF;
  border-radius: 1.25em;
  cursor: pointer;
}


.share-hover .tooltiptext {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;  
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 85%;
}

.share-hover:hover .tooltiptext {
  visibility: visible;
}

.mobile-menu {
  display: none;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  gap: 0.5em;
  width: 100%;
  height: 4.75em;
  background: #EAECF0;
  border: 0.0625em solid #EAECF0;
  border-radius: 0.5em;
  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.75em;
  color: #101828;
  margin-top: 1em;
  text-decoration: none;
}

.list-item:hover {
  background: #D0D5DD;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 2em;
}

.footer-space {
  flex-grow: 1;
}

.footer {
  width: calc(100% - 8em);
  padding: 4em;
  display: block;
}

.footer-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em 0em;
  gap: 2em;
  height: 4em;
  border-top: 0.0625em solid #EAECF0;
}

.footer-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  text-align: center;
  color: #667085;
}

.footer-logo {
  display: block;
}

.footer-logo-mobile {
  display: none;
}

.footer-i4g {
  display: block;
}

.footer-i4g-mobile {
  display: none;
}

@media screen and (max-width: 62.5em) {
  .app {
    padding-left: 4em;
    padding-right: 4em;
    width: calc(100% - 8em);
  }
}

@media screen and (max-width: 50em) {
  .app {
    padding-left: 2em;
    padding-right: 2em;
    width: calc(100% - 4em);
  }

}

@media screen and (max-width: 37.5em) {
  .app {
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: calc(100% - 0.8em);
  }

  .share {
    display: none;
  }

  .share-hover {
    display: none;
  }

  .footer {
    padding: 0.8em;
    width: calc(100% - 1.6em);
    display: block;
  }
  
  .footer-content {
    box-sizing: border-box;
    display: flex;
    height: 12em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 0em 0em;
    gap: 1em;
    flex: none;
    order: 0;    
  }
  
  .footer-text {
    font-size: 0.875em;
    line-height: 143%;
    text-align: left;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-mobile {
    display: block;
  }

  .footer-i4g {
    display: none;
  }
  
  .footer-i4g-mobile {
    display: block;
  }

  .list-item {
    height: 4.25em;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 2em;
    top: 3em;
    background: #FFFFFF;
    border: 0.0625em dashed #D0D5DD;
    border-radius: 1.25em;
    flex: none;
    order: 2;
    z-index: 2;
  }

  .mobile-menu-hover {
    display: block;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 2em;
    top: 3em;
    background: #FFFFFF;
    border: 0.0625em dashed #D0D5DD;
    border-radius: 1.25em;
    flex: none;
    order: 2;
    z-index: 2;
  }
  
}
